BOT_TOKEN=8898262967:AAG_eV5QMkrUhWvWQaMA0YArSRO15e26kQE
DB_PATH=db/rates.sqlite3
MODELS_DIR=models
CURRENCIES=USD,EUR,RUB
CBU_BASE_URL=https://cbu.uz
HISTORY_YEARS=5
TIMEZONE=Asia/Tashkent
DAILY_UPDATE_HOUR=9
DAILY_UPDATE_MINUTE=5
MAX_FORECAST_DAYS=30
